{# Navbar menu #}

  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Wild Circus</a>
    {# <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> #}

    <div class="collapse navbar-collapse container" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="/show" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Shows
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('shows_index')}}">All the shows</a>
            <a class="dropdown-item" href="{{ path('actors_index')}}">Actors</a>
            <a class="dropdown-item" href="{{ path('location_index')}}">Location</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('gallery_index')}}">Gallery</a>
        </li>
      </ul>
    </div>
    <div>
    <ul class="navbar-nav mr-auto mx-right">
    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_REGISTERED') %}
    <li class="nav-item">
          <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('users_new') }}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_login') }}">Login</a>
        </li>
        {% endif %}
      </ul>
</div>
  </nav>



